<div class="userInfo"  ng-show="user">
    <div class="error">
        {{error}}
    </div>
    
    <div>
        Name: {{user.name}} <br/>
        <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}">
    </div>
    
    Order:
    <select ng-model="reposSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="language">Lang</option>                
    </select>
    
    <table>
        <thead>
            <th>id</th>
            <th>Name</th>
            <th>Stars</th>
            <th>Lang</th>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy: reposSortOrder">
                <td>{{repo.id}}</td>
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>
</div>